:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}
@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 800;
  src: url('./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'PlusJakartaSans';
  font-weight: 400;
  src: url('./assets/fonts/static/PlusJakartaSans-Medium.ttf') format('truetype');
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
box-sizing: border-box;
}

/* 2. Remove default margin */
* {
margin: 0;
}

body {
/* 3. Add accessible line-height */
line-height: 1.5;
/* 4. Improve text rendering */
-webkit-font-smoothing: antialiased;
font-family: 'PlusJakartaSans', sans-serif;
background-color: var(--dark-light-grayish-blue);
color: var(--very-dark-blue);
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
text-wrap: balance;
}

/*
9. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}

#Notification{
    display: grid;
    max-width: 700px;
    margin-inline: auto;
    margin-top: 50px;
    background-color: var(--white);
    gap: 2.5rem;
}
.notification{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--light-grayish-blue-1);
    margin-bottom: 2rem;
}
button{
    background-color: transparent;
    border: none;
    transition: 200ms ease-in-out;
    &:hover{
        cursor: pointer;
        color: var(--blue);
    }
}
.message{
    align-items: start;
}
img{
    min-width: 70px;
    min-height: 70px;
    max-width: 70px;
    max-height: 70px;
}
.right-pic{
    margin-left: auto;
    cursor: pointer;
}
time{
    font-size: 0.8rem;
    color: var(--grayish-blue);
}
p{
    font-size: 0.9rem;
    color: var(--dark-grayish-blue);
    background-color: var(--light-grayish-blue-1);
    padding: 0.7rem;
    margin-top: 1rem;
}